---
import Section2 from "../components/Section2.astro";
import Section3 from "../components/Section3.astro";
import Section4 from "../components/Section4.astro";
import Section5 from "../components/Section5.astro";
import Section6 from "../components/Section6.astro";
import Section7 from "../components/Section7.astro";
import Section8 from "../components/Section8.astro";
import Section9 from "../components/Section9.astro";
import Section10 from "../components/Section10.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <Section2 />
  <Section3 />

  <section class="w-full bg-gray-100 py-4 md:py-10">
    <div class="flex gap-8 justify-center thin-heading text-lg">
      View More Projects
    </div>
  </section>

  <Section4 />
  <Section5 />
  <Section6 />
  <Section7 />

  <section class="w-full bg-gray-100 py-4 md:py-10">
    <div class="flex gap-8 justify-center thin-heading text-lg">
      View All Team Members
    </div>
  </section>

  <Section8 />
  <Section9 />
  <Section10 />

  <section class="bg-gray-300 section-spacing">
    <div class="container justify-center thin-heading text-lg">
      <h3 class="text-5xl font-light text-white">Video Goes Here</h3>
    </div>
  </section>

  <section class="section-spacing">
    <div class="container md:flex-col">
      <div class="py-10">
        <h3 class="heading text-3xl">
          <span class="font-light">Latest</span> News
        </h3>
      </div>

      <div class="grid md:grid-cols-3 gap-8">
        <div class="flex flex-col gap-4">
          <div class="bg-gray-600 h-[380px]"></div>
          <h3 class="font-bold text-md text-base uppercase">
            Time for Minimalism
          </h3>
          <p class="text-sm font-light">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Recusandae, nostrum, cumque culpa provident aliquam commodi
            assumenda laudantium magnam illo nostrum.
          </p>
        </div>

        <div class="flex flex-col gap-4">
          <div class="bg-gray-600 h-[380px]"></div>
          <h3 class="font-bold text-md text-base uppercase">
            New Trends in Web Design
          </h3>
          <p class="text-sm font-light">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Recusandae, nostrum, cumque culpa provident aliquam commodi
            assumenda laudantium magnam illo nostrum.
          </p>
        </div>

        <div class="flex flex-col gap-4">
          <div class="bg-gray-600 h-[380px]"></div>
          <h3 class="font-bold text-md text-base uppercase">
            The Sound of Life
          </h3>
          <p class="text-sm font-light">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Recusandae, nostrum, cumque culpa provident aliquam commodi
            assumenda laudantium magnam illo nostrum.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-300 section-spacing">
    <div class="container md:flex md:flex-row-reverse w-full">
      <div>&nbsp;</div>
      <div class="border border-solid border-gray-700">Newsletter sign up</div>
    </div>
  </section>

  <section class="container section-spacing">
    <div class="w-full grid md:grid-cols-3 gap-2">
      <div class="flex gap-4">
        <div class="icon icon-basic-map"></div>
        <div>
          <h3 class="heading text-base">Address</h3>
          <p class="fine-print">790 FOLSOM AVE, SAN FRANCISCO</p>
        </div>
      </div>
      <div class="flex gap-4">
        <div class="icon icon-basic-mail"></div>
        <div>
          <h3 class="heading text-base">Email</h3>
          <p class="fine-print">info@veysie.media</p>
        </div>
      </div>
      <div class="flex gap-4">
        <div class="icon icon-basic-smartphone"></div>
        <div>
          <h3 class="heading text-base">Call Us</h3>
          <p class="fine-print">1-800-312-212, 1-800-311-101</p>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-gray-300">
    <div class="md:flex md:flex-row-reverse w-full">
      <div class="w-full p-20">
        <h3 class="heading text-3xl">
          <span class="font-light">Contact</span> Us
        </h3>
        <span>Form goes here</span>
      </div>
      <div class="w-full border border-solid border-black">Cover Map</div>
    </div>
  </section>

  <footer class="section-spacing flex justify-center">
    <small class="fine-print">&copy; Veysie Media</small>&nbsp;
    <time datetime="2024" class="fine-print">2024</time>
  </footer>
</Layout>
