<section class="">
  <div class="container section-spacing">
    <div class="md:w-5/12 flex flex-col gap-6">
      <quote class="font-light"
        >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum,
        maiores esse temporibus actium quas soluta quis sed rerum.</quote
      >
      <cite class="text-sm font-light"> - John Doe, Google Inc.</cite>
    </div>
    <div class="md:w-7/12 grid grid-cols-2 gap-8">
      <div>
        <h3 class="heading text-lg">One</h3>
        <p class="copy">
          Sed ut perspiciatis unde omnis iste nat eror acus antium que
        </p>
      </div>
      <div>
        <h3 class="heading text-lg">One</h3>
        <p class="copy">
          Sed ut perspiciatis unde omnis iste nat eror acus antium que
        </p>
      </div>
      <div>
        <h3 class="heading text-lg">One</h3>
        <p class="copy">
          Sed ut perspiciatis unde omnis iste nat eror acus antium que
        </p>
      </div>
      <div>
        <h3 class="heading text-lg">One</h3>
        <p class="copy">
          Sed ut perspiciatis unde omnis iste nat eror acus antium que
        </p>
      </div>
    </div>
  </div>
</section>
